html{
    position: relative;
    min-height: 100%;
}

body{
    margin-bottom: 60px;
}

.footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #f5f5f5;
}

